<header class="">
  <nav class="header container flex flex-justify-content-between">
    <div class="flex flex-justify-content-center flex-align-items-center">
      <div class="header__buttons">
        <button mat-button>main</button>
      </div>
      <div class="header__buttons">
        <button mat-button>Pasting cars</button>
      </div>
      <div class="header__buttons">
        <button mat-button>Car detailing</button>
      </div>
      <div class="header__buttons">
        <button mat-button>Gallery of works</button>
      </div>
    </div>
    <div (click)="onClick()" class="drop-down flex flex-justify-content-center flex-direction-column" >
      <div class="burger-lines" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'topX'"></div>
      <div class="burger-lines" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'hide'"></div>
      <div class="burger-lines" [@hamburguerX]="isHamburguer ? 'hamburguer' : 'bottomX'"></div>
    </div>
  </nav>
</header>
