<footer class="footer">
  <div class="flex flex-align-items-center flex-justify-content-around">
    <div class="footer-elemaent">
      <h5>2022 © Est et viverra pellentesque pharetra lorem proin in. Vitae magna at tempus commodo.</h5>
    </div>
    <div class="flex">
      <div class="">
        <button mat-button>main</button>
      </div>
      <div class="">
        <button mat-button>pasting of the car</button>
      </div>
      <div class="">
        <button mat-button>Car detailing</button>
      </div>
      <div class="">
        <button mat-button>Gallery of works</button>
      </div>
    </div>
  </div>
</footer>
