<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car1.png" alt=""></div>
      <div class="owl-text-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car2.png" alt=""></div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car3.png" alt=""></div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car1.png" alt=""></div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car2.png" alt=""></div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="">
      <div class=""><img class="img" src="assets/car3.png" alt=""></div>
      <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vulputate laoreet sapien a sit ante.
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
