::ng-deep {
  .mat-form-field {
    width: 400px;
    margin: 10px 0;
  }
}

.login-container {
  background-color: #333333;
  text-align: center;
  height: 500px;
  padding: 20px 50px;
  border-radius: 20px;
}

.login-box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
