.background-box {
  background-image: url("../../assets/bg-main.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}


.logo {
  font-size: 150px;
  color: #DB3138;
}

.sub-logo {
  font-size: 40px;
  text-align: center;
  max-width: 90%;
}

.info_address {
  color: #DB3138;
  //max-width: 60%;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
}

.info {
  text-align: center;
  padding: 25px 0;
}

.info__about {
  text-align: center;
  color: #DB3138;
}

.info-box {
  width: 640px;
  border: #898989 1px solid;
}

.about__achievements {
  max-width: 600px;
}

.grid__table {
  display: grid;
  grid-template-columns: 0fr repeat(2, 0.5fr) 0fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.div1 {
  grid-area: 1 / 2 / 2 / 3;

  border: 2px #fff solid;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;

  border: 2px #fff solid;
}

.div3 {
  grid-area: 3 / 2 / 4 / 3;

  border: 2px #fff solid;
}

.div4 {
  grid-area: 4 / 2 / 5 / 3;

  border: 2px #fff solid;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;

  border: 2px #fff solid;
}

.div6 {
  grid-area: 3 / 3 / 4 / 4;

  border: 2px #fff solid;
}

.div7 {
  grid-area: 4 / 3 / 5 / 4;

  border: 2px #fff solid;
}

.div8 {
  grid-area: 5 / 3 / 6 / 4;

  border: 2px #fff solid;
}
