<form [formGroup]="feedback">
  <div class="flex flex-direction-column">
    <div class="flex input-box">
      <div class="input-box__element">
        <input formControlName="name" type="text" placeholder="name">
      </div>
      <div class="input-box__element">
        <input formControlName="phone" type="number" placeholder="phone">
      </div>
    </div>
    <div class="flex flex-justify-content-between">
      <div class="input-box__element">
        <textarea formControlName="questions" placeholder="questions"></textarea>
      </div>
      <div class="flex flex-direction-column flex-justify-content-around">
        <div class="link"><a href=""> <img src="assets/insta.svg" alt=""></a></div>
        <div class="link"><a href=""> <img src="assets/youTube.svg" alt=""></a></div>
        <div class="link"><a href=""> <img src="assets/telegram.svg" alt=""></a></div>
      </div>
    </div>
    <div class="main-button flex">
      <button mat-button (click)="onSubmit()"><span>Submit</span></button>
    </div>
  </div>
</form>

